@model HotelReservationSystem.Models.BOOKING
@{
    /**/

    ViewBag.Title = "Booking Home";
}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<div class="jumbotron">
    <h2>Hotel Reservation System</h2>
    <p class="lead">We provide the high quality service and comfort through out your stay. Enjoy your time with us.</p>
</div>
@using (Html.BeginForm("SearchRooms", "Booking", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="col-md-24">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row jumbotron col-md-24">
            <div class="col-md-3">
                @Html.LabelFor(model => model.fromDate, htmlAttributes: new { @class = "col-2 col-form-label" })
                <div class="col-10">
                    @Html.EditorFor(model => model.fromDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.fromDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.toDate, htmlAttributes: new { @class = "col-2 col-form-label" })
                <div class="col-10">
                    @Html.EditorFor(model => model.toDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.toDate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-1">
                @Html.LabelFor(model => model.adults, htmlAttributes: new { @class = "col-2 col-form-label" })
                <div class="col-10">
                    @Html.EditorFor(model => model.adults, new { htmlAttributes = new { @class = "form-control" }, @type = "number", @Value = "1" })
                    @Html.ValidationMessageFor(model => model.adults, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-1">
                @Html.LabelFor(model => model.children, htmlAttributes: new { @class = "col-2 col-form-label" })
                <div class="col-10">
                    @Html.EditorFor(model => model.children, new { htmlAttributes = new { @class = "form-control" }, @type = "number", @Value = "1" })
                    @Html.ValidationMessageFor(model => model.children, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 25px">Search Rooms</button>
            </div>
        </div>
    </div>
}
@if (ViewBag.RoomList != null)
{
    foreach (var room in ViewBag.RoomList)
    {
        using (Html.BeginForm("BookNow", "Booking", FormMethod.Post))
        {
                <div class="row col-md-24">
                    <div class="col-md-3" name="roomName">
                        <Label value="@room.roomName">@room.roomName</Label>
                        <input type="hidden" name="roomId" value="@room.roomID"/>
                        <hr />
                    </div>
                    <div class="col-md-3" name="roomType">
                        <Label value="@room.roomType">@room.roomType</Label>
                        <hr />
                    </div>
                    <div class="col-md-3">
                        <Label value="@room.priceInCAD">@room.priceInCAD</Label>
                        <hr />
                    </div>
                    <div class="col-md-3">
                        <input type="submit" value="Book Now" />
                        <hr />
                    </div>
                </div>
            }
        }
    }
    else
    {
        <div class="row">
            <div class="col-md-4">
                <h2>Manage your booking</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Finger tip Services</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>We Care for you</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>
        </div>
    }


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd-mm-yy",
                changeMonth: true,
                yearRange: "-5:+5",
                changeYear: true,
                //showOn:"both",
                //buttonText: "<i class='fa fa-calendar'></i>"
            });
        });

    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
