
@{
    ViewBag.Title = "Paynow";
}
<style>
    label {
        font-size: 20px;
        font-weight: 200;
    }
</style>
<div class="jumbotron col-md-19">
    @if (ViewBag.ExistingCustomer == "true")
    {
        <label class="danger">@ViewBag.DeleteStatus</label>
        using (Html.BeginForm("Paynow", "Payment", FormMethod.Post))
        {
            @Html.AntiForgeryToken()


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h1 style="font-family: 'Abril Fatface', cursive; padding-top: 10px">Pay Now</h1>
            <h3 style="font-family: 'Neuton', serif; padding-bottom: 20px;">Please proceed with your booking</h3>
            <div>
                <div>
                    <label><b>Name On Card:</b></label>
                    <label>@ViewBag.NameOnCard</label>

                </div>
                <br />
                <div>
                    <label><b>Card Type:</b></label>
                    <label>@ViewBag.cardType</label>
                </div>
                <br />
                <div>
                    <label><b>Card Number:</b></label>
                    <label>@ViewBag.CardNumber</label>
                </div>
                <br />
                <div>
                    <label><b>Expiry Date:</b></label>
                    <label>@ViewBag.ExpiryDate</label>
                </div>
                <br />
                <div>
                    <label><b>Card added on:</b></label>
                    <label>@ViewBag.CardCreationDate</label>
                </div>
                <div style="padding: 20px 0px">
                    <input type="submit" value="Pay Now" class="btn btn-primary" style="width: 100%" />
                </div>
            </div>
        }
        using (Html.BeginForm("DeleteCard", "Payment", FormMethod.Post))
        {

            <div>
                <input type="hidden" name="userId" value="@ViewBag.userID" />
                <input type="submit" value="Delete Card" class="btn btn-primary" style="width: 100%" />
            </div>

        }

    }
</div>
<div class="row jumbotron">
    @if (ViewBag.ExistingCustomer == "false")
    {
        using (Html.BeginForm("AddCard", "Payment", FormMethod.Post))
        {
            @Html.AntiForgeryToken()


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h1 style="font-family: 'Abril Fatface', cursive; padding-top: 10px">Pay Now</h1>
            <h3 style="font-family: 'Neuton', serif; padding-bottom: 20px;">You do not have any cards associated with the account. Kindly Add a New Card to complete the Booking</h3>


            <div class="form-group">
                <label value="Name on Card" for="nameOnCard"><b>Name on Card:</b></label>
                <input name="nameOnCard" type="text" placeholder="Full Name" class="form-control" id="nameOnCard" />
            </div>
            <div class="form-group">
                <label value="Card Number" for="cardNumber"><b>Card Number:</b></label>
                <input id="cardNumber" name="cardNumber" class="cardNumber form-control" onchange="setCardType()" type="text" placeholder="Card Number" />
            </div>
            <div class="form-group">
                <label value="Card Type"><b>Card Type:</b></label>
                <br />
                <label id="cardType">-</label>
            </div>
            <div class="form-group">
                <label value="Expiry Date"><b>Expiry Date:</b></label>
                <input name="expDate" type="text" class="form-control" placeholder="MM/YYYY" />
            </div>
            <div style="padding-top: 20px">
                <input type="submit" value="Add Card" class="btn btn-primary" style="width: 100%" />
            </div>

        }

    }
</div>
    @if (ViewBag.PaymentStatus == "Success")
    {
        <h2>@ViewBag.PaymentInfo</h2>
    }
    @if (ViewBag.PaymentStatus == "Failure")
    {
        <h2>@ViewBag.PaymentInfo</h2>
    }
    @ViewBag.CreateMsg

    @section Scripts {
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <script>
            $(function () {
                $(".datepicker").datepicker({
                    dateFormat: "dd-mm-yy",
                    changeMonth: true,
                    yearRange: "-5:+5",
                    changeYear: true,
                    //showOn:"both",
                    //buttonText: "<i class='fa fa-calendar'></i>"
                });
            });
            function setCardType() {
                var cardNumber = document.getElementById("cardNumber").value;
                if ((cardNumber.substring(0, 2) == '51' || cardNumber.substring(0, 2) == '52'
                    || cardNumber.substring(0, 2) == '53' || cardNumber.substring(0, 2) == '54' || cardNumber.substring(0, 2) == '55') && cardNumber.length == 16) {
                    document.getElementById("cardType").innerText = "Master Card";
                } else if ((cardNumber.substring(0, 2) == '34' || cardNumber.substring(0, 2) == '37') && cardNumber.length == 15) {
                    document.getElementById("cardType").innerText = "American Express";
                } else if ((cardNumber.substring(0, 1) == '4') && cardNumber.length == 16) {
                    document.getElementById("cardType").innerText = "Visa";

                }

            }
        </script>
        @Scripts.Render("~/bundles/jqueryval")
    }